#!/usr/bin/pypy3
# -*- coding: utf-8 -*-

# 此為設定的樣板檔，請依照下面的註解進行自己的設定檔製作
# 設定檔檔案名稱為，setting.py 請自行複製樣板檔製作

# Only for 0MuServer / 0muMDAU

# Server Setting
host = '127.0.0.1'
port = 5000

# Debug Mode , 0 = off , 1 = on
debug = 1

# Server Log Dump Location
s_log = '../server.log'

# Database Setting
sqliteFile = '../sqlite/litefb.db'

##
yourkey = 'jdd978#whewl{@@jrejk__'
imgurkey = '0c2b6130b066faf'
FB_APP_ID=''
FB_APP_SEC=''


