{% extends "base.html"%}
{% block title %}Admin Panel{% endblock %}
{% block top %}{% include "topbar.html" %}{% endblock %}
{% block content %}
<div class="row">
<div class="col-xs-2 col-sm-2">
</div>
<div class="col-xs-10 col-sm-10">
			{% include "panel.html" %}
</div>
</div>
{% endblock %}
{% block script %}
<script>	
	$(document).ready(function(){
		$.ajax({
			type : "POST",
			url : "/",
			dataType: "text",
			success: function(data) {
			$("#posts").append(data);
			}
		});
	})
</script>
<script>
var simplemde = new SimpleMDE({ autoDownloadFontAwesome:true, spellChecker:false, toolbar:false,element: document.getElementById("markdown") });
</script>
{% endblock %}
